<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tables with Modal Forms</title>
  <!-- رابط Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script src="{{ url_for('static' ,filename='js/sweetalert2@11.js')}}"></script>
</head>


<body>
  <!-- sweet alert -->
  {% if message == '1' %}
  <script>
    Swal.fire({
      title: 'Fait avec succès!',
      text: 'Vous avez terminé l\'opération avec succès.',
      icon: 'success',
      confirmButtonText: 'D\'accord'
    });
  </script>
  {% elif message == '0' %}
  <script>
    Swal.fire({
      title: 'Échec de l\'opération!',
      text: 'Une erreur s\'est produite lors de l\'exécution de l\'opération.',
      icon: 'error',
      confirmButtonText: 'D\'accord'
    });
  </script>
  {% endif %}
  <div class="container mt-5">
    <div class="mb-4">
      <h3>Intervenant</h3>
      <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalTable1">
        New
      </button>
      <table class="table table-bordered">
        {% if intervenants %}
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Post</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for intervenant in intervenants %}
          <tr>
            <td class="0-inter">{{intervenant['id']}}</td>
            <td class="1-inter">{{intervenant['nom']}}</td>
            <td class="2-inter">{{intervenant['prenom']}}</td>
            <td class="3-inter">{{intervenant['poste']}}</td>
            <td>
              <button class="btn btn-primary btn-sm inter-update" data-bs-toggle="modal" data-bs-target="#updateForm"
                onclick="updateForm(this,'inter-update',4)">Update</button>
            </td>
            <td>
              <form action="{{url_for('intervenant_info')}}" method="post">
                <input type="text" hidden name="id" value="{{intervenant['id']}}">
                <button class="btn btn-success btn-sm" type="submit">Info</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-danger btn-sm inter-delete"
                onclick="confirmDelete(this, 'inter-delete')">Delete</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tr>
          <td colspan="7">No data</td>
        </tr>
        {% endif %}
      </table>
    </div>

    <!-- الجدول الثاني -->
    <div class="mb-4">
      <h3>Intervenant</h3>
      <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalTable2">
        New
      </button>
      <table class="table table-bordered">
        {% if clients %}
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Direction</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
          <tr>
            <td class="0-client">{{client['id']}}</td>
            <td class="1-client">{{client['nom']}}</td>
            <td class="2-client">{{client['prenom']}}</td>
            <td class="3-client">{{client['direction']}}</td>
            <td>
              <button class="btn btn-primary btn-sm client-update" data-bs-toggle="modal"
                data-bs-target="#updateFormclient" onclick="updateForm(this,'client-update',4)">Update</button>
            </td>
            <td>
              <form action="{{url_for('client_info')}}" method="post">
                <input type="text" hidden name="id" value="{{client['id']}}">
                <button class="btn btn-success btn-sm" type="submit">Info</button>
              </form>
            </td>
            <td>
              <button type="submit" class="btn btn-danger btn-sm client-delete"
                onclick="confirmDelete(this, 'client-delete')">Delete</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tr>
          <td colspan="7">No data</td>
        </tr>
        {% endif %}
      </table>
    </div>

    <!-- الجدول الثالث -->
    <div>
      <h3>Tableau 3</h3>
      <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalTable3">
        New
      </button>

      <table class="table table-bordered">
        {% if interventions %}
        <thead>
          <tr>
            <th>ID</th>
            <th>Motive</th>
            <th>Statut</th>
            <th>Type</th>
            <th>Intervenant</th>
            <th>Client</th>
            <th>date</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for intervention in interventions %}
          <tr>
            <td class="0-intervention">{{intervention['id']}}</td>
            <td class="1-intervention">{{intervention['motive']}}</td>
            <td class="etat">{{intervention['etat']}}</td>
            <td class="4-intervention">{{intervention['type']}}</td>
            <td class="2-intervention">{{intervention['intervenant']}}</td>
            <td class="3-intervention">{{intervention['client']}}</td>
            <td>{{intervention['date']}}</td>
            <td>
              {% if intervention['etat']!="Réalisé" %}
              <form action="{{url_for('realiser')}}" method="post">
                <input type="text" hidden name="id" value="{{intervention['id']}}">
                <button class="btn btn-success btn-sm">Réalisé</button>
              </form>
              {% else %}
              <form action="{{url_for('Reinitialiser')}}" method="post">
                <input type="text" hidden name="id" value="{{intervention['id']}}">
                <button class="btn btn-success btn-sm">Réinitialiser</button>
              </form>
              {% endif %}
            </td>
            <td>
              <button class="btn btn-primary btn-sm intervention-update" data-bs-toggle="modal"
                data-bs-target="#updateFormintervention"
                onclick="updateForm(this,'intervention-update',5)">Update</button>

            </td>
            <td>
              <button type="submit" class="btn btn-danger btn-sm intervention-delete"
                onclick="confirmDelete(this, 'intervention-delete')">Delete</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tr>
          <td colspan="9">No data</td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
  <div class="col-sm-6 chartContainer">
    {% if image!=0 %}
    <img src="data:image/png;base64,{{image}}" />
    {% else %}
    <p>No data</p>
    {% endif %}
  </div>

  <!-- Modals -->
  <!-- Modal for Table 1 -->
  <div class="modal fade" id="modalTable1" tabindex="-1" aria-labelledby="modalTable1Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTable1Label">
            Add Intervention
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('add_intervennant')}}" method="post">
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" class="form-control" name="nom" required />
            </div>
            <div class="mb-3">
              <label for="prenom" class="form-label">Prénom</label>
              <input type="text" class="form-control" name="prenom" required />
            </div>
            <div class="mb-3">
              <label for="poste" class="form-label">Poste</label>
              <input type="text" class="form-control" name="poste" required />
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Table 2 -->
  <div class="modal fade" id="modalTable2" tabindex="-1" aria-labelledby="modalTable2Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTable2Label">
            Ajouter un nouvel élément à Tableau 2
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('add_client')}}" method="post">
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" class="form-control" name="nom" required />
            </div>
            <div class="mb-3">
              <label for="prenom" class="form-label">Prénom</label>
              <input type="text" class="form-control" name="prenom" required />
            </div>
            <div class="mb-3">
              <label for="poste" class="form-label">Direction</label>
              <input type="text" class="form-control" name="direction" required />
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Table 3 -->
  <div class="modal fade" id="modalTable3" tabindex="-1" aria-labelledby="modalTable3Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTable3Label">
            Ajouter un nouvel élément à Tableau 3
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3 needs-validation" id="interventionForm"
            onsubmit="handleSubmit('interventionForm'); return false;" novalidate
            action="{{url_for('add_intervennantion')}}" method="post">
            <div class="col-md-6">
              <label for="clientId" class="form-label">ID Client</label>
              <input type="text" class="form-control" id="idClientInput" name="client" placeholder="CLI-"
                autocomplete="off" required
                oninput="handleAutocomplete(this, 'clientName', 'suggestions-client','CLI-','clientDict')" />
              <div id="suggestions-client" class="autocomplete-suggestions"></div>
              <div class="invalid-feedback">
                Veuillez saisir un ID client valide.
              </div>
            </div>
            <div class="col-md-6">
              <label for="clientName" class="form-label">Nom Client</label>
              <input type="text" class="form-control" id="clientName" placeholder="Nom Client" readonly required />
              <div class="invalid-feedback">
                Veuillez saisir un ID client valide.
              </div>
            </div>
            <div class="col-md-6">
              <label for="intervenantId" class="form-label">ID Intervenant</label>
              <input type="text" class="form-control" id="intervenantId" name="intervenant" placeholder="INT-"
                oninput="handleAutocomplete(this, 'intervenantNom', 'suggestions-intervenant','INT-','intervenantDict')"
                required />
              <div id="suggestions-intervenant" class="autocomplete-suggestions"></div>
              <div class="invalid-feedback">
                Veuillez saisir un ID intervenant valide.
              </div>
            </div>
            <div class="col-md-6">
              <label for="intervenantNom" class="form-label">Nom Intervenant</label>
              <input type="text" class="form-control" id="intervenantNom" placeholder="Nom Intervenant" readonly
                required />
              <div class="invalid-feedback">
                Veuillez saisir un ID intervenant valide.
              </div>
            </div>
            <div class="col-12">
              <label for="motive" class="form-label">Motive</label>
              <textarea class="form-control" id="motive" name="motive" placeholder="Motive" rows="3"
                required></textarea>
              <div class="invalid-feedback">Veuillez saisir le motive.</div>
            </div>
            <div class="col-md-6">
              <select class="form-select" id="type" name="type" required>
                <option selected disabled value="">
                  Choisissez un type...
                </option>
                <option value="Soft">Soft</option>
                <option value="Hard">Hard</option>
              </select>
              <div class="invalid-feedback">
                Veuillez choisir un type valide.
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary" type="submit">
                Enregistrer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modale update intervennat -->
  <div class="modal fade" id="updateForm" tabindex="-1" aria-labelledby="updateFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateFormLabel">
            Update Intervention
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('update_intervennant')}}" method="post">
            <div class="mb-3">
              <label for="nom" class="form-label">ID</label>
              <input type="text" class="form-control" name="id" required id="inter-0" readonly />
            </div>
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" class="form-control" name="nom" required id="inter-1" />
            </div>
            <div class="mb-3">
              <label for="prenom" class="form-label">Prénom</label>
              <input type="text" class="form-control" name="prenom" required id="inter-2" />
            </div>
            <div class="mb-3">
              <label for="poste" class="form-label">Poste</label>
              <input type="text" class="form-control" name="poste" required id="inter-3" />
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modale update client -->
  <div class="modal fade" id="updateFormclient" tabindex="-1" aria-labelledby="updateFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateFormLabel">
            Update Client
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('update_client')}}" method="post">
            <div class="mb-3">
              <label for="nom" class="form-label">ID</label>
              <input type="text" class="form-control" name="id" required id="client-0" readonly />
            </div>
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" class="form-control" name="nom" required id="client-1" />
            </div>
            <div class="mb-3">
              <label for="prenom" class="form-label">Prénom</label>
              <input type="text" class="form-control" name="prenom" required id="client-2" />
            </div>
            <div class="mb-3">
              <label for="poste" class="form-label">direction</label>
              <input type="text" class="form-control" name="direction" required id="client-3" />
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modale update intervention -->

  <div class="modal fade" id="updateFormintervention" tabindex="-1" aria-labelledby="updateForminterventionLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateForminterventionLabel">
            Ajouter un nouvel élément à Tableau 3
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3 needs-validation" id="interventionFormupdate"
            onsubmit="handleSubmit('interventionFormupdate'); return false;" novalidate
            action="{{url_for('update_intervennantion')}}" method="post">
            <div class="col-md-12">
              <input type="text" class="form-control" id="intervention-0" name="id" readonly />
            </div>
            <div class="col-md-6">
              <label for="clientId" class="form-label">ID Client</label>
              <input type="text" class="form-control" id="intervention-3" name="client" placeholder="CLI-"
                autocomplete="off" required
                oninput="handleAutocomplete(this, 'clientNameupdate', 'suggestions-clientupdate','CLI-','clientDict')" />
              <div id="suggestions-clientupdate" class="autocomplete-suggestions"></div>
              <div class="invalid-feedback">
                Veuillez saisir un ID client valide.
              </div>
            </div>
            <div class="col-md-6">
              <label for="clientName" class="form-label">Nom Client</label>
              <input type="text" class="form-control" id="clientNameupdate" placeholder="Nom Client" readonly
                required />
              <div class="invalid-feedback">
                Veuillez saisir un ID client valide.
              </div>
            </div>
            <div class="col-md-6">
              <label for="intervenantId" class="form-label">ID Intervenant</label>
              <input type="text" class="form-control" id="intervention-2" name="intervenant" placeholder="INT-"
                oninput="handleAutocomplete(this, 'intervenantNomupdate', 'suggestions-intervenantupdate','INT-','intervenantDict')"
                required />
              <div id="suggestions-intervenantupdate" class="autocomplete-suggestions"></div>
              <div class="invalid-feedback">
                Veuillez saisir un ID intervenant valide.
              </div>
            </div>
            <div class="col-md-6">
              <label for="intervenantNom" class="form-label">Nom Intervenant</label>
              <input type="text" class="form-control" id="intervenantNomupdate" placeholder="Nom Intervenant" readonly
                required />
              <div class="invalid-feedback">
                Veuillez saisir un ID intervenant valide.
              </div>
            </div>
            <div class="col-12">
              <label for="motive" class="form-label">Motive</label>
              <textarea class="form-control" id="intervention-1" name="motive" placeholder="Motive" rows="3"
                required></textarea>
              <div class="invalid-feedback">Veuillez saisir le motive.</div>
            </div>
            <div class="col-md-6">
              <select class="form-select" id="intervention-4" name="type" required>
                <option selected disabled value="">
                  Choisissez un type...
                </option>
                <option value="Soft">Soft</option>
                <option value="Hard">Hard</option>
              </select>
              <div class="invalid-feedback">
                Veuillez choisir un type valide.
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary" type="submit">
                Enregistrer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- رابط Bootstrap JS -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script id="clientDict" type="application/json">
      {{ dict_cli | tojson }}
    </script>
  <script id="intervenantDict" type="application/json">
      {{ dict_inter | tojson }}
    </script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>